.landing-canvas {
  background-size: cover;
  cursor: -webkit-grab;
  cursor: grab;
}

.landing-canvas:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.landing-canvas div {
  height: 60vh !important;
}

@media screen and (max-width: 720px) {
  .landing-canvas.mobile-nav-is-shown div {
    height: calc((100vh - 60px) * 0.65) !important;
  }
}
