.sign-up-btn {
  background-color: var(--accent-color) !important;
  border: 1px solid var(--primary-bg-color);
  color: var(--primary-bg-color) !important;
}

.sign-up-btn:hover {
  background-color: var(--primary-btn-color-hover) !important;
}
