/* ------------------------------------- CSS reset */

* {
  outline: 2px solid red;
  box-sizing: border-box;
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  }


/* ------------------------------- Variables */

.dark {
  --background-main: rgb(40, 44, 52);
  --background-accent: rgb(140, 158, 64);
  --text-color: #f1f4f8;
  --border-color: #b8c9df;
}

.light {
  --background-main: #f1f4f8;
  --text-color: rgb(40, 44, 52);
  --border-color: rgb(40, 44, 52);
}

/* ------------------------------- Parent Containers */ 
  
body, html, #root, .app {
  min-height: 100vh;
  overflow: hidden;
}

.container-row {
  display: flex;
  flex-direction: row;
}

.container-column {
  display: flex;
  flex-direction: column;
}

.app {
  color: var(--text-color);
  background: var(--background-main);
}
    .dashboard {
      flex: 0 0 96%;
      height: 100vh;
    }
        .cube-list-ctrl {
          flex: 0 0 15%;
          border-right: 2px solid var(--border-color);
        }
            .cube-header {
              flex: 0 0 10%;
              justify-content: center;
              align-items: center;
              border-bottom: 2px solid var(--border-color);
            }
            .cube-list {
              flex: 0 0 90%;
              overflow: auto;
            }
        .pages {
          flex: 0 0 85%;
          height: 100vh;
        }
            .show-page-container {
                height: 100vh;
            }
                .study-cube {
                  flex: 0 0 80%;
                }
                .cube-ctrls {
                  flex: 0 0 20%;
                  border-left: 2px solid var(--border-color);
                }
    .nav-bar {
      flex: 0 0 4%;
    }


/* ---------------------------------- Landing Page */

#canvas {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.landing-text {
  color: var(--text-color);
}

#title-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  overflow: hidden;
  pointer-events: none;
  background: none !important;
}

#brand-name {
  font-weight: bold;
  font-size: 10vw;
}

#tagline {
  font-size: 2.3vw;
}

.navbar {
  width: 100%;
  position: relative;
  z-index: 3;
}

#logout-btn {
  background: none!important;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.modal-backdrop {
  z-index: 2;
}

.modal {
  color: rgb(40, 44, 52);
}

.cube-mesh {
  bottom: 3vh;
}


/* ----------------------------------------- Study Cube */

.cube-radio-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10vh
}

.cube-container {
  width: 60vh;
  height: 60vh;
  perspective: 400vh;
}

.study-cube {
  width: 100%;
  height: 100%;
  /* Let the transformed child elements preserve the 3D transformations */
  transform-style: preserve-3d;
  transition: transform 1s;
}

/* Position from origin, when that side is active */
.study-cube.Question { 
  transform: rotateY(0deg);
}
.study-cube.Hint { 
  transform: rotateY( -90deg);
}
.study-cube.Links { 
  transform: rotateY(-180deg);
}
.study-cube.Notes { 
  transform: rotateY(90deg);
}
.study-cube.Visual { 
  transform: rotateX(-90deg);
}
.study-cube.Answer { 
  transform: rotateX(90deg);
}

/* ----------------------------------------------- Cube Faces */

.face {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  border: 1px solid rgb(70, 70, 70);
  color: #f1f4f8;
  text-align: center;
  opacity: 0.8;
}

.face:hover {
  opacity: 1;
  transition: opacity .2s linear;
}

.face:not( :hover ) {
  opacity: 0.8;
  transition: opacity .2s linear;
}

.face-title {
  margin: 15px;
  font-size: 6vh;
}

.face-content {
  padding: 0px 40px 15px 40px;
  font-size: 3vh; 
}

.face.Question { 
  background: #8DA7BE; 
}
.face.Answer { 
  background: #87919E;
}
.face.Hint { 
  background: #CDE6F5;
  color: rgb(70, 70, 70);
}
.face.Links { 
  background: #8DA7BE; 
}
.face.Notes { 
  background: #CDE6F5;
  color: rgb(70, 70, 70);
}
.face.Visual { 
  background: #87919E; 
}

/* original position */
.face.Question { transform: rotateY(0deg) translateZ(30vh);}
.face.Hint { transform: rotateY( 90deg) translateZ(30vh);}
.face.Links { transform: rotateY(180deg) translateZ(30vh);}
.face.Notes { transform: rotateY(-90deg) translateZ(30vh);}
.face.Visual { transform: rotateX( 90deg) translateZ(30vh);}
.face.Answer { transform: rotateX(-90deg) translateZ(30vh);}

.blur {
  filter: blur(20px) grayscale(100%);
  transition: filter 2s;
}

/* ---------------------------------------------- Visual Aid Face */

.visual-aid {
  cursor: zoom-in;
  max-height: 50%;
  transition: transform 0.25s ease;
}

.visual-aid:hover {
  filter: blur(0) !important;
  transform: scale(2) !important;
  
}

/* ------------------------------------------ Radio Buttons */

.radio-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70vh;
  margin: 5px 0;
  filter: grayscale(1);
}

.radio-group {
  position: absolute;
  right: 20px;
  top: 20px;
}

.radio-button {
  list-style-type: none;
  margin: 0 20px;
}

/*  */


