/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 versions
*/

@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');

/* ------------------------------------- CSS reset */

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: 'Hind Madurai', sans-serif;
}

body {
  line-height: 1.5;
  text-align: left;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

*:focus-visible {
  outline: 3px solid var(--accent-color);
}

ul {
  margin-bottom: 0;
}

label {
  margin-bottom: 0;
}

button, input {
  overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

select {
  word-wrap: normal;
}

button, select {
  text-transform: none;
}

.h1, h1 {
  font-size: 2.5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.form-row>.col, .form-row>[class*=col-] {
  padding-right: 5px;
  padding-left: 5px;
}

.form-group {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

label {
  display: inline-block;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.btn-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn {
  display: inline-block;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}
/* ------------------------------- Variables */

.dark {
  --background-main: #282c34;
  --form-input-background-color: #3e424a;
  --dashboard-background-img: url('./images/stars.png');
  --text-color-dark: var(--panel-color);
  --text-color-light: #f1f4f9;
  --border-color:#324d60;
  --panel-color: #1e1f23;
  --accent-color: #edb532;
  --btn-primary-color: var(--accent-color);
  --btn-primary-hover-color: #d39e00;
  --warning-color: #dc3545;
  --overlay-color: rgba(0,0,0,0.8);
  --hr-color: #3e424a;
  --boxShadow-color: rgba(0,0,0,0.81);
  --form-boxShadow-color: rgba(0,0,0,0.03);
  --cubeFace-color-1: #334B5C;
  --cubeFace-color-2: #3F4850;
  --cubeFace-color-3: #394A56;
  --category-select: #183045;
  --category-action-btn-color: #a2c1d7;
  --cube-action-btn-color: #a0a3a5;
  --cubeFace-text-color: var(--text-color-light);
  --cube-ctrl-list-color: var(--panel-color);
  --category-text-color: var(--text-color-light);
  --form-text-color: var(--text-color-light);
  --color-shadow-one: #24232b;
  --color-shadow-two: #444353;
  --color-btn-shadow-one: #383743;
  --color-btn-shadow-two: #2f2e39;
  --cubeFace-border-color: rgba(255,255,255,0.4);
  --modal-background-color: var(--panel-color);
  --modal-text-color: var(--text-color-light);
  --resize-color: var(--accent-color);
  --resize-shadow-color: var(--panel-color);
}

.light {
  --background-main: #282c34;
  --form-input-background-color: #f7fbff;
  --dashboard-background-img: url('./images/stars.png');
  --text-color-dark: var(--background-main);
  --text-color-light: #f1f4f8;
  --border-color:#d2e5f3;
  --panel-color: #3e424a;
  --accent-color: #edb532;
  --btn-primary-color: var(--accent-color);
  --btn-primary-hover-color: #d39e00;
  --warning-color: #dc3545;
  --overlay-color: rgba(0,0,0,0.6);
  --hr-color: rgba(139, 139, 139, 0.567);
  --boxShadow-color: rgba(0,0,0,0.81);
  --form-boxShadow-color: rgba(0,0,0,0.03);
  --cubeFace-color-1: #81acd1;
  --cubeFace-color-2: #acb0b5;
  --cubeFace-color-3: #CDE6F5;
  --category-select: var(--cubeFace-color-1);
  --category-action-btn-color: var(--border-color);
  --cube-action-btn-color: var(--cubeFace-color-2);
  --cubeFace-text-color: var(--text-color-dark);
  --cube-ctrl-list-color: var(--panel-color);
  --category-text-color: var(--text-color-dark);
  --form-text-color: var(--text-color-dark);
  --color-shadow-one: #bdbdbd;
  --color-shadow-two: #e9e7e7;
  --color-btn-shadow-one: #f1f1f1;
  --color-btn-shadow-two: #cecdcd;
  --cubeFace-border-color: rgba(0,0,0,0.4);
  --modal-background-color: var(--border-color);
  --modal-text-color: var(--text-color-dark);
  --resize-color: var(--panel-color);
  --resize-shadow-color: var(--background-main);
}

/* ------------------------------- Parent Containers */ 

body, html, #root, .app {
  min-height: 100vh;
  overflow-x: hidden;
}

.container-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: var(--text-color-light);
  background-color: var(--background-main);
}


/* ------------------------------- Light / Dark Theme Switch */ 

.switch-container {
  position: relative;
  color: var(--text-color-dark);
  background-color: var(--category-action-btn-color);
  border-radius: 5px;
  color: var(--background-main);
  font-size: 16px;
  display: flex;
  align-items: center;
  height: 2rem;
  width: 4rem;
  transition: all 0.45s ease-in-out;
  border: var(--background-main) solid 1px;
  z-index: 10;
  margin: 0 10px;
}

  .switch-btn {
    position: absolute;
    color: var(--text-color-dark);
    background-color: var(--category-action-btn-color);
    border-radius: 5px;
    color: var(--background-main);
    font-size: 16px;
    height: 2rem;
    width: 2rem;
    box-shadow: 0px 4px 8px -8px var(--boxShadow-color);
    transition: all 0.45s ease-in-out;
    border: var(--background-main) solid 1px;
  }

  .switch-btn:hover, .switch-btn:active {
    background-color: var(--btn-primary-hover-color);
  }

  .activate-light {
    transform: translateX(100%);
  }

  .theme-transition:not(.button.theme-transition:hover, :focus-visible) {
    transition: border .45s ease-in-out,
                color .45s ease-in-out, 
                background-color .45s ease-in-out, 
                border-color .45s ease-in-out,
                box-shadow .45s ease-in-out,
                outline .45s ease-in-out,
                background-image .45s ease-in-out,
                opacity .45s ease-in-out,
  }

/* ------------------------------- Pointer Events */ 

  .pointer-disabled {
    pointer-events: none;
  }
  .pointer-auto {
      pointer-events: auto;
  }

/* ------------------------------- Nav Bar */ 

.nav-bar {
  height: 50px;
  width: 100%;
  color: var(--text-color-light);
  background-color: var(--border-color);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 10px 6px 4px -7px var(--boxShadow-color);
          box-shadow: 10px 6px 4px -7px var(--boxShadow-color);
  font-weight: bold;
}

.navlinks-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 600px;
}

/* ------------------------------- Dashboard */ 

.dashboard {
  width: 100%; 
  align-items: stretch;
  background-image: var(--dashboard-background-img);
  background-size: cover;
}

.index {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 82px;
  background-color: var(--cube-ctrl-list-color);
}

.instructions {
  text-align: center;
  margin-bottom: 0;
}

.pages {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}
/* ----------------------------------------- Footer */

footer {
  padding: 15px;
}

/* ----------------------------------------- Cube New Edit Delete Btns */
.button {
  border-radius: 5px;
	display:inline-block;
  color: var(--background-main);
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
  text-align: center;
  border: 1px solid var(--background-main);
}

.button:hover {
  color: var(--background-main);
  background-color: var(--accent-color);
  text-decoration: none;
}

.button.delete:hover {
  color: var(--background-main);
  background-color: var(--warning-color);
  text-decoration: none;
}

.button.active {
  color: var(--background-main);
  background-color: var(--accent-color);
  text-decoration: none;
}

.header-btns {
  height: 54px;
  padding: 5px 10px;
  font-size: 14px;
  margin: 15px 15px;
  background-color: var(--btn-primary-color);
}
.header-btns:hover {
  background-color: var(--btn-primary-hover-color);
}

.edit-btn {
  padding: 7px 15px;
  margin: 0px 15px;
}
.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}
.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

/* ------------------------------- Modal */ 

.modal-backdrop {
  z-index: 2;
}

@media (min-width: 576px) {
  .modal-dialog {
      max-width: 500px;
      margin: 1.75rem auto;
  }
}

.modal-dialog {
    position: relative;
    width: auto;
    top: 10%;
    margin: 0 auto;
    pointer-events: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    color: var(--modal-text-color);
    font-weight: bold;
    background-color: var(--overlay-color);
}
.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: var(--modal-background-color);
    background-clip: padding-box;
    border: 1px solid var(--hr-color);
    border-radius: 0.3rem;
    outline: 0;
    color: var(--modal-text-color);
}
.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid var(--hr-color);
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    font-weight: 700;
}

.modal-body {
  padding: 1rem;
  text-align: center;
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
  font-weight: 500;
}

.modal-body .md-form {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.modal-body .md-form label {
  margin-left: 3px;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}
.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
    color: var(--category-text-color);
    text-shadow: none;
    opacity: 0.6;
}

.modal-footer {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid var(--hr-color);
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.modal-footer.delete {
  flex-direction: row;
}

.modal-footer .btn{
  font-weight: bold;
  border-radius: 5px;
}

.modal-footer>:not(:last-child) {
    margin-right: 0.25rem;
}

.modal a {
  color: var(--accent-color);
}

.modal-footer hr {
  color: var(--hr-color);
}
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
}
button.close {
  background-color: transparent;
  border: 0;
  appearance: none;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.justify-content-center {
  -ms-flex-pack: center!important;
  justify-content: center!important;
}

.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}

.text-center {
  text-align: center!important;
}

.ml-3, .mx-3 {
  margin-left: 1rem!important;
}

.mr-3, .mx-3 {
  margin-right: 1rem!important;
}

.mb-5, .my-5 {
  margin-bottom: 3rem!important;
}

.font-weight-bold {
  font-weight: 700!important;
}
.w-100 {
  width: 100%!important;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}
.h4, h4 {
  font-size: 1.5rem;
}

.modal-footer>:not(:first-child) {
  margin-left: 0.25rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* ------------------------------- Cube List */ 
.category-btn {
  background-color: var(--border-color);
  width: 100%;
  padding: 15px;
  color: var(--category-text-color);
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
  text-align: left;
}

.icon-chevron {
  margin-left: 10px;
}

.category-btn.active {
  background-color: var(--category-select);
  box-shadow: 0px 4px 8px -8px var(--boxShadow-color);
}
.category-btn:hover {
  background-color: var(--category-select);
}

button.category-action-btn {
  padding: 1px 6px;
  margin-left: 5px;
  box-shadow: none;
  background-color: var(--category-action-btn-color);
}
button.cube-action-btn {
  padding: 1px 6px;
  margin-left: 5px;
  box-shadow: none;
  background-color: var(--cube-action-btn-color);
}

.cube-list-ctrl {
  background-color: var(--background-main);
  border-right: 8px solid var(--border-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  bottom: 0;
  min-width: 250px;
  max-width: 600px;
  resize: horizontal;
  overflow: auto;
  position: relative;
}

.cube-list-ctrl:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: linear-gradient(-45deg,var(--resize-color) 10px, var(--border-color) 10px, var(--border-color) 20px, var(--resize-shadow-color) 20px, transparent 25px, transparent 0), linear-gradient(-90deg, var(--resize-shadow-color) 0, transparent 5px, transparent 0);
  overflow: hidden;
  pointer-events: none;
}

.cube-header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          position: sticky;
          top: 0;
          width: 100%;
          background-color: var(--cube-ctrl-list-color);
}

.cube-list-grp {
  height: calc(100vh - 134px);
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}


.cube-list-grp .radio-button {
  display: flex;
  padding-left: 20px;
}

.cube-list-grp::-webkit-scrollbar {
  display : none;
}

.cube-list-grp {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cube-select-group::-webkit-scrollbar {
  display: none;
}

.cube-select-group {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cube-list {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 1px solid var(--category-select);
  background-color: var(--cube-ctrl-list-color);
}

.list-footer {
  background-color: var(--border-color);
  color: var(--category-text-color);
  flex-grow: 1;
  font-size: 14px;
}


.fa-cubes-closed {
  margin-left: 5px;
}
.fa-cubes-opened {
  margin: 0 5px 0 5px;
}
.fa-cubes-number {
  margin-left: 10px;
}

/* ----------------------------- Form Pages */

.form-container{
  display: inline-block;
  padding: 20px 0;
  width: 100%;
}

.cube-form {
  margin: 0 10vw;
}

.form-row {
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 1rem;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.form-title {
  text-align: center;
}

.required-warning {
  text-align: center;
  font-size: 14px;
}

.character-count {
  float: right;
  font-size: 0.8rem;
}
  
.form-buttons {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-around;
      -ms-flex-pack: space-around;
          justify-content: space-around;
}
.form-buttons .form-group {
  display: flex;
  justify-content: flex-end;
}

.form-btn {
  margin-left: 10px;
}

.form-btn:disabled {
  padding: 1rem;
}

.btn-warning {
  background-color: var(--btn-primary-color);
  font-weight: bold;
}
.btn-warning:hover {
  background-color: var(--btn-primary-hover-color);
}

.form-control {
  color: var(--form-text-color);
  background-color: var(--form-input-background-color);
  border-radius: 0.35rem;
  border: 3px solid rgba(0, 0, 0, 0);
  -webkit-box-shadow: 1px 1px 2px 0px var(--form-boxShadow-color);
          box-shadow: 1px 1px 2px 0px var(--form-boxShadow-color);
  transition: border-color .35s ease-in-out,box-shadow .35s ease-in-out;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
}

textarea {
  overflow: auto;
  resize: vertical;
}
textarea.form-control {
  height: auto;
}

.form-control:focus:not(:focus-visible) {
  color: var(--form-text-color);
  background-color: var(--form-input-background-color);
  border: 3px solid var(--accent-color);
  -webkit-box-shadow: 1px 1px 2px 0px var(--form-boxShadow-color);
          box-shadow: 1px 1px 2px 0px var(--form-boxShadow-color);
}

.form-control-file {
  height: calc(1.5em + .75rem + 2px);
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  outline: rgba(0, 0, 0, 0) solid 3px;
  display: inline-block;
  padding: 4px 12px;
  cursor: pointer;
  width: 100%;
  margin-top: 1px;
  border-radius: 0.15rem;
  color: var(--form-text-color);
  background-color: var(--form-input-background-color);
}

.custom-file-upload:hover {
  color: var(--text-color-light);
  background-color: #5a6268;
  outline: 3px solid var(--accent-color);
}

.visual-aid-preview {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

img.visual-aid-preview {
  width: 60px;
  border-radius: 3px;
}

.visual-aid-preview-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 18px;
}

.delete-visual-aid {
  font-size: 30px;
  position: absolute;
  right: -15px;
  top: -15px;
}

[title="Delete Visual Aid"] {
  color: var(--accent-color);
}

/* ---------------------------------- Cube Show Page */

.show-page-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cube-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cube-ctrl-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  background-color: var(--cube-ctrl-list-color);
}

.cube-ctrls {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: flex-start;
      -ms-flex-pack: flex-start;
          justify-content: flex-start;
  white-space: nowrap;
  text-align: center;
}

.cube-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 10vmin 10vmin 0;
  max-height: fit-content;
}

/* ---------------------------------- Landing Page */

.landing-background {
  height: calc(100vh - 50px) !important;
  position: absolute !important;
  background-size: cover;
} 


.title-container {
  width: 100%;
  height: calc(100vh - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  pointer-events: none;
}

.logo {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

section.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .spin {
  color: var(--text-color-light);
  position: absolute;
  top: 60px;
  left: 20px;
  opacity: 0.5;
  z-index: 10;
} */

.landing-text {
  color: var(--text-color-light);
  display: inline;
  text-align:  center;
}

.side-text {
  font-size: 90px;
}

.brand-name {
  font-weight: bold;
  font-size: 110px;
}

.description {
  font-size: 22px;
}

.navbar-item, .navbar-text {
  color: var(--text-color-dark);
  text-align: center;
  background-color: var(--category-action-btn-color);
  margin: 0 10px;
  padding: 4px 16px;
  border-radius: 5px;
  border: 1px solid var(--background-main);
  height: 32px;
}

.logout-btn {
  color: var(--text-color-light);
  border: none;
}

/* ----------------------------------------- Study Cube */

.cube-radio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10vh;
}

.cube-container {
  width: 60vmin;
  height: 60vmin;
  -webkit-perspective: 400vmin;
          perspective: 400vmin;
}

.study-cube {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

/* Rotation need to rotate entire cube to a certain face, from the original cube position */
.study-cube.Question { 
  -webkit-transform: rotateY(0deg); 
          transform: rotateY(0deg);
}
.study-cube.Hint { 
  -webkit-transform: rotateY( -90deg); 
          transform: rotateY( -90deg);
}
.study-cube.Link { 
  -webkit-transform: rotateY(-180deg); 
          transform: rotateY(-180deg);
}
.study-cube.Notes { 
  -webkit-transform: rotateY(90deg); 
          transform: rotateY(90deg);
}
.study-cube.Visual { 
  -webkit-transform: rotateX(-90deg); 
          transform: rotateX(-90deg);
}
.study-cube.Answer { 
  -webkit-transform: rotateX(90deg); 
          transform: rotateX(90deg);
}

.cube-mesh {
  bottom: 3vh;
}

/* ----------------------------------------------- Cube Faces */

.face {
  border: 1px solid var(--cubeFace-border-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  color: var(--cubeFace-text-color);
  text-align: center;
  opacity: 0.8;
  transition: opacity .2s linear, filter 2s;
}

.face:hover {
  opacity: 1;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.face:not( :hover ) {
  opacity: 0.8;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.face-title {
  margin: 2.5vmin;
  font-size: 6vmin;
}

.face-content {
  padding: 0px 5vmin 3vmin 5vmin;
  font-size: 3.1vmin; 
  word-break: break-word;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.face-content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.face-content {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

.face.Question { 
  background-color: var(--cubeFace-color-1); 
}
.face.Answer { 
  background-color: var(--cubeFace-color-2);
}
.face.Hint { 
  background-color: var(--cubeFace-color-3);
}
.face.Link { 
  background-color: var(--cubeFace-color-1);
}
.face.Notes { 
  background-color: var(--cubeFace-color-3);
}
.face.Visual { 
  background-color: var(--cubeFace-color-2); 
}

.face-content a {
  color: var(--face-cube-text-color);
  text-decoration: underline;
}
.face-content a:hover {
  text-decoration: none;
}
/* Position of faces when moved away from origin to form cube */
.face.Question { -webkit-transform: rotateY(0deg) translateZ(30vmin); transform: rotateY(0deg) translateZ(30vmin);}
.face.Hint { -webkit-transform: rotateY( 90deg) translateZ(30vmin); transform: rotateY( 90deg) translateZ(30vmin);}
.face.Link { -webkit-transform: rotateY(180deg) translateZ(30vmin); transform: rotateY(180deg) translateZ(30vmin);}
.face.Notes { -webkit-transform: rotateY(-90deg) translateZ(30vmin); transform: rotateY(-90deg) translateZ(30vmin);}
.face.Visual { -webkit-transform: rotateX( 90deg) translateZ(30vmin); transform: rotateX( 90deg) translateZ(30vmin);}
.face.Answer { -webkit-transform: rotateX(-90deg) translateZ(30vmin); transform: rotateX(-90deg) translateZ(30vmin);}

.blur {
  -webkit-filter: blur(20px) grayscale(100%);
          filter: blur(20px) grayscale(100%);
  -webkit-transition: -webkit-filter 2s;
  transition: -webkit-filter 2s;
  -o-transition: filter 2s;
  transition: filter 2s;
  transition: filter 2s, -webkit-filter 2s;
}

/* ---------------------------------------------- Visual Aid Face */

.visual-aid {
  cursor: pointer;
  max-height: 30vmin;
  max-width: 40vmin;
  -webkit-transition: -webkit-filter .75s, -webkit-transform 0.5s ease;
  transition: -webkit-filter .75s, -webkit-transform 0.5s ease;
  -o-transition: filter .75s, transform 0.5s ease;
  transition: filter .75s, transform 0.5s ease;
  transition: filter .75s, transform 0.5s ease, -webkit-filter .75s, -webkit-transform 0.5s ease;
}

/* .visual-aid:hover {
  -webkit-transform: scale(2) !important;
      -ms-transform: scale(2) !important;
          transform: scale(2) !important;
  z-index: 10;
} */

/* ------------------------------------------ Radio Buttons */

.radio-face-group {
  flex: 1;
}

.cube-face-list {
  -webkit-box-flex: 2;
  -ms-flex: 2;
      flex: 2;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
  flex-direction: row;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
  justify-content: space-between;
-webkit-box-align: center;
-ms-flex-align: center;
  align-items: center;
margin-right: 15px;
height: 84px;
}

.radio-face-group .radio-label {
  white-space: nowrap;
}

.radio-button {
  list-style-type: none;
  padding: 4px 10px 2px 10px;
}

.radio-button:hover {
  color: var(--accent-color);
}

.radio-label {
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  overflow-wrap: break-word;
}

input[type='radio'] {
  appearance: none;
  scroll-margin-top: 60px;
}

input[type='radio']:checked + label {
  color: var(--accent-color);  
}


/* ================================================================ Media Queries */

@media screen and (max-width: 1050px) {
  
  /* ================================ Landing Page */

  /* .title-container {
    padding-top: 30px;
  } */

  /* .landing-background {
    padding-top: 30px;
  } */

  .side-text {
    font-size: 50px;
  }

  .brand-name {
    font-weight: bold;
    font-size: 70px;
  }
  
  .tagline {
    font-size: 20px;
    text-align: center;
  }
  
  .description {
    font-size: 16px;
    text-align: center;
  }

 /* ================================ Dashboard */

  /* .dashboard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .pages {
    padding-bottom: 15vmin;
  } */

  /* ================================ Cube Ctrls */

  /* .cube-ctrl-group {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 10px;
  }

  .radio-face-group {
    overflow: auto;
    margin-right: 0;
    margin-left: 15px;
  }

  .cube-ctrls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 15px;
  }

  .edit-btn {
    margin-left: 0;
    white-space: normal;
    font-size: 12px;
  }

  .delete-modal-btn {
    white-space: normal;
    font-size: 12px;
  }

  .delete-modal {
    font-size: 16px;
    white-space: normal;
  } */

  /* ================================ Forms */

  /* .form-container{
    -webkit-box-flex: 6;
            -ms-flex: 6;
                flex: 6;
  }

  .form-buttons {
    margin-top: 20px;
  }

  .form-btn {
    margin-bottom: 30px;
  } */

  /* ================================ Cube List */

  /* .cube-list-ctrl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
      justify-content: center;
    padding: 0;
    border-bottom: 8px solid var(--border-color);
    border-right: none;
    height: 100%;
  }

  .cube-header {
    margin: 0;
  }

  .new-cube-btn {
    margin: 15px;
  }

  .cube-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
    margin: 20px;
    height: 60%;
    min-width: 0;
  } */

  /* ================================ Cube Show Page */

  /* .radio-face-group {
    overflow: auto;
  }
  
  .cube-area {
    -webkit-box-flex: 10;
            -ms-flex: 10;
                flex: 10;
    padding-top: 30px;
  } */

  /* ================================ Index */

  /* .index {
    margin: 0 30px;
    height: 80vh;
  } */
}

/* ================================ */

@media (min-width: 768px) {
  .col-md-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
}
@media screen and (max-width: 900px) {
  .visual-aid:hover {
    -webkit-transform: scale(2) !important;
        -ms-transform: scale(2) !important;
            transform: scale(2) !important;
  }
}

/* ================================ */

@media screen and (max-width: 450px) {

  /* ================================ Cube Show Page */

  .cube-area {
    -webkit-box-flex: 10;
            -ms-flex: 10;
                flex: 10;
    padding-top: 0px;
  }

  .side-text {
    font-size: 35px;
  }

  /* ================================ Landing Page */
  
  .brand-name {
    font-weight: bold;
    font-size: 40px;
  }
  
  .tagline {
    font-size: 20px;
    text-align: center;
    padding: 0 10px;
  }
  
  .description {
    font-size: 16px;
    text-align: center;
    padding: 0 30px;
  }

  .nav-bar {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .navbar-item {
    font-size: 15px;
    padding: 0;
    margin: 10px;
  }

  .navbar-text {
    font-size: 15px;
    padding: 0;
    margin: 0;
    white-space: normal;
  }

}